* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --background-color: hsl(0, 0%, 100%);
    --primary-color: hsl(227, 40%, 20%);
    --item-color: hsl(227, 100%, 95%);
    --error-color: hsl(0, 70%, 70%);
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: var(--background-color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 20px;
}

.remove-item {
    cursor: pointer;
}

button {
    display: block;
}

ol {
    width: 100%;
}

li {
    list-style-type: none;
    border: none;
    padding: 10px 15px 10px 20px;
    margin: 8px 0;
    background-color: var(--item-color);
    border-radius: 20px;
    width: 100%;
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*box-shadow: 1px 1px 2px black;*/
}

.new-item-input {
    width: 98%;
    outline: none;
    height: 50px;
    padding: 10px;
    border-radius: 15px;
    background-color: var(--item-color);
    border: none;
}

.navigation-button {
    width: 70%;
    height: 70px;
    background-color: var(--primary-color);
    outline: none;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 10px;
}

.arrow {
    height: 20px;
    width: 20px;
}

h1 {
    width: 100%;
    color: var(--primary-color)
}

.hidden {
    color: var(--background-color);
}

.error {
    color: var(--error-color);
}

input[type=checkbox] {
    transform: scale(1.5);
}

.collected-items {
    width: 100%;
}

.finished-shopping {
    font-weight: 600;
    font-size: 1.2em
}